//Tipografia
$fuente_principal: 'Orbitron', sans-serif;
$fuente_secundaria: 'Comfortaa', sans-serif;


//colores
$cubiit_oscuro: #172026;
$cubiit_oscuroT: rgba(#17202a,.5);
$cubiit_azulclaro: #5FCDD9;
$cubiit_verdeclaro: #01C38E;
$cubiit_azuloscuro: #132D46;
$cubiit_verdeoscuro: #027373;
$gris_claro: #F3F4F4;
$negro: #000;
$blanco: #fff;

//Tamaños de MediaQuery
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
