@use 'base/variables' as v;
@use 'base/mixins' as m;



.contenedor-general{
    min-height: 40rem;
    height: 45rem;
    overflow: hidden;
    @include  m.desktop{
        min-height: 60rem;
        height: 60rem;
        display: flex;
        flex-direction: column;
    }
}

.contenedor-texto{
    min-height: 15rem;
    background-color: v.$cubiit_azuloscuro;
    font-size: 2.6rem;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include m.desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5rem;
        width: 50%;
        position: absolute;
        margin-top: 25rem;
        margin-bottom: -20rem;
        margin-left: 2rem;
    }
}

.contenedor-imagen{
    z-index: -1;
    background-image: url('../img/banner.webp');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35rem;
    position: relative;

    @include m.desktop{
        height: 60rem;
    }
}

.servicios-typed{
    font-weight: bold;
    color: v.$cubiit_verdeclaro;
    font-style: normal;
}

