@use 'base/variables' as v;
@use 'base/mixins' as m;



.banner{
    position: relative;
    max-height: 60rem;
   
    overflow: hidden;
    .overlay{
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: v.$cubiit_oscuroT;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    img{
        width: 100%;
        display: block;
    }
}

.contenido-banner{
    h2{
        color: v.$blanco;
        font-size: 5rem;
        margin: 0;
    }
}