@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton{
    text-decoration: none;
    padding: 2rem 3rem;
    color: v.$blanco;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    display: block;
    width: 100%;
    
    @include m.desktop{
        display: inline-block;
        width: auto;
    }
    
}

.boton-principal{
    background-color: v.$cubiit_verdeclaro;
    border-radius: 1rem;
    &:hover {
        background-color: darken(v.$cubiit_verdeclaro, 05);
    }
}

.boton-servicio{
    background-color: v.$cubiit_verdeclaro;
    padding: 1rem 2rem;
    &:hover {
        background-color: darken(v.$cubiit_verdeclaro, 05);
    }
}