@use 'base/variables' as v;
@use 'base/mixins' as m;

.footer{
    background-color: v.$cubiit_azuloscuro;
    
    
    p{
        color: v.$blanco;
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 0;
        padding-bottom: 1rem;
        padding-left: .5rem;
        padding-right: .5rem;
    }

    
}

.navegacion-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 1rem;

    a{
        text-decoration: none;
        color: v.$blanco;
        font-size: 2rem;
        padding-bottom: 1rem;

        &:hover{
            color: v.$cubiit_verdeclaro;
            font-size: 2.1rem;
        }
    }

    
}

.contenedor-elementosfooter{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .navegacion{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        a{
            font-size: 2rem; 
            line-height: .8;
        }
    }
    .img-logo{
        width: 20rem;
        height: 6rem;
        @include m.desktop{
            width: 30rem;
            height: 8rem;
        }
       
    }
    
}

