@use 'base/variables' as v;
@use 'base/mixins' as m;


.seccion-servicios{
    background-color: v.$cubiit_azuloscuro;
    padding: 1rem 2rem;
    p{
        color: v.$blanco;
    }
    h2{
        color: v.$cubiit_verdeclaro;
        padding: 0;
        margin: 0;
        
    }
    animation: slideMe .5s ease-in;
    
}
.contenedor-servicios{
    //background-color: lighten(v.$cubiit_oscuro, 10);
    
    padding: 1rem;
    h2, h3{
        color: v.$blanco;
    }
}

.icono-servicio{
    width: 5rem;
    height: auto;
    //filter: invert(100);
}

.card-servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    //background-color: ligthen(v.$cubiit_azuloscuro, 10);
    background-color: v.$cubiit_azuloscuro;
    border: solid 3px v.$cubiit_verdeclaro;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    &:hover{
        border: solid 4px lighten(v.$cubiit_verdeclaro, 20);
        margin: -.2rem;
    }
    h3{
        margin-top: 1.5rem;
        margin-bottom: .5rem;
    }
    h4{
        color: v.$blanco;
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    p{
        color: v.$blanco;
        text-align: center;
        margin-top: 1rem;
        text-align: justify;
    }
    img{
        height: 11rem;
        width: auto;
    }
}

.contenedor-servicios{
    @include m.tablet {
        @include m.grid(3, 1rem)
    }
}

@keyframes slideMe {
    0%{
        transform: skewX(53deg) translateX(-500px);
        opacity: 0;
    }
    60%{
        transform: translateX(0px);
    }
    62%{
        transform: skewX(0deg) translateX(30px);
    }
    70%{
        transform: skew(-20deg);
        opacity: 100;
    }
    80%{
        transform: skew(0deg) translate(0);
    }
    90%{
        transform: skew(-5deg );
    }
    100%{
        transform: skew(8deg);
    }
}