@use 'base/variables' as v;
@use 'base/mixins' as m;


.seccion-servicios{
    background-color: v.$cubiit_azuloscuro;
    padding: 1rem 2rem;
    p{
        color: v.$blanco;
    }
    h2{
        color: v.$cubiit_verdeclaro;
        padding: 0;
        margin: 0;
        
    }
   
    
}
.contenedor-servicios{
    
    padding: 1rem;
    h2, h3{
        color: v.$blanco;
    }
}

.icono-servicio{
    width: 5rem;
    height: auto;
    //filter: invert(100);
}

.card-servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: v.$cubiit_azuloscuro;
    border: solid 3px v.$cubiit_verdeclaro;
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    &:hover{
        border: solid 4px lighten(v.$cubiit_verdeclaro, 20);
        margin: -.2rem;
    }
    h3{
        margin-top: 1.5rem;
        margin-bottom: .5rem;
    }
    h4{
        color: v.$blanco;
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    p{
        color: v.$blanco;
        text-align: center;
        margin-top: 1rem;
        text-align: justify;
    }
    img{
        height: 11rem;
        width: auto;
    }
}

.contenedor-servicios{
    @include m.tablet {
        @include m.grid(3, 1rem)
    }
}

